[submodule "Collector"]
	path = Collector
	url = https://github.com/ESIR2-PROJET-KEOLIS/Collector
[submodule "frontend"]
	path = frontend
	url = https://github.com/ESIR2-PROJET-KEOLIS/frontend
[submodule "backend"]
	path = backend
	url = https://github.com/ESIR2-PROJET-KEOLIS/backend
[submodule "processing-storage-unit"]
	path = processing-storage-unit
	url = https://github.com/ESIR2-PROJET-KEOLIS/processing-storage-unit
